<% provide(:title, 'Home') %>

<div class="center hero-unit">

  <h1>Hello Folks!</h1>

  <h2>
   Let's build the great company together!
  </h2>
  <%= link_to "Join Us", signup_path, class: "btn btn-large btn-primary" %>

</div>