// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tableClass{
	border: 1px solid blue;
	padding: 5px;
	.row{
		font: 40px blue;
		width: 800px;
	}
}