<footer class="footer">
  <small>
    <a href="http://succeedamerica.com/">Succeed America!</a>
    by XXX.inc
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>